* {
    margin: 0;
    padding: 0;
    /*background-repeat: no-repeat;*/
    font-family: sans-serif;
    font-size: 1.2rem;
}

section {
    display: grid;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 400px;
    z-index: 1;
    /*background: linear-gradient(rgb(0, 217, 255), rgb(194, 109, 194));*/
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: start;
}
.headerContainer {
    grid-template-areas: 
    "nav"
    "img";
    background: url(mainbackgr.png);
}
.grid-item {
    display: grid;
    justify-items: center;
    text-align: justify;
    padding: 2%;
}
.nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    height: auto;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*background: linear-gradient(rgb(10, 29, 3), rgb(6, 6, 53));*/
    align-content: center;
}
.nav div {
    display: grid;
    border-radius: 100px;
    width: 15vw;
    text-align: center;
    height: 60px;
    align-content: center;
    padding: 15px;
    background: linear-gradient(90deg, #ffd7c7,#ffd3ff,#ffffff);
    border: 5px solid rgb(255, 255, 255);
}
a {
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    background-color: #2AA5A0;
    background: linear-gradient(90deg, #e14141,#df6262,#ee9191);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav div:nth-child(1){
    /*background-image: url(mainbck.png);*/
}
.nav div:nth-child(2){
    /*background-image: url(psp-vita.png);*/

}
.nav div:nth-child(3){
    /*background-image: url(psp-vita.png);*/

}
.nav div:nth-child(4){
    /*background-image: url(switchref.png);
    background-repeat: no-repeat;*/

}
.nav div:nth-child(5){
    /*background-image: url(steambck.png);*/

}



.header-img-block {
    grid-area: img;
}
.intr {
    background: url(abstract.png);
}
img {
    width: 100%;
    height: auto;
}
h2 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.images {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    justify-items: center;
    background: url(mainbackgr.png);
}
.infBlock {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.quote {
    grid-column: span 2;
}
.footer {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

p {
    margin-bottom: 18px;
}


.psp-headerContainer, .psp-footer {
    background: rgb(70, 70, 255);
}
.psp-intr {
    background: linear-gradient(skyblue, rgb(180, 180, 255))
}
.psp-quatro, .psp-images, .psp-infBlock {
    background: rgb(180, 180, 255);
}




.vita-headerContainer, .vita-footer {
    background: rgb(70, 70, 255);
}
.vita-intr {
    background: linear-gradient(skyblue, rgb(180, 180, 255))
}
.vita-quatro,.vita-images, .vita-infBlock  {
    background: rgb(180, 180, 255);
}



.switch-headerContainer, .switch-footer {
    background: rgb(22, 133, 180);
}
.switch-intr {
    background: #ff0016;
    color: white;
}
.switch-quatro, .switch-images, .switch-infBlock, .switch-footer{
    background: #00bce5;
}
.steamdeck-headerContainer {
    height: auto;
    min-height: 1000px;
    align-items: center;
}
.steamdeck-header-img-block {
    margin-bottom: 150px;
    width: 75%;
}



.steamdeck-intr, .steamdeck-quatro, .steamdeck-images, .steamdeck-infBlock, .steamdeck-footer {
    /*background: url(steamdeckgray.png);*/
    background: #26282b;
    color: rgb(255, 255, 255);
} 
.steamdeck-headerContainer, .steamdeck-images {
    background: /*#cf4c96*/ #131212;
}
