* {
    margin: 0;
    padding: 0;
    /*background-repeat: no-repeat;*/
}

section {
    display: grid;
    margin: 0 auto;
    width: 95%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(red, purple);
}

.headerContainer {
    justify-content: center;
}

.intr {
    justify-items: center;
    align-items: center;
    
}
.quatro {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-content: center;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}
.grid-item {
    display: grid;
    padding: 1rem;
    text-align: justify;
}
